body, html {
    margin: 0;
    padding: 0;
}
.menuBarContainer {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 60px; 
    background-color: rgb(31, 42, 59); 
    padding: 0 20px; 
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
  }
  #logoText {
    font-size: 3vh; 
  }
  #menu {
    display: flex; 
    gap: 2.5vh; 
    font-size: 1.7vh; 
    flex-grow: 1; 
    justify-content: center; 
  }
  .menuLinks {
    outline: none; 
    text-decoration: none; 
    color: white;
  }
  #userMenu{
    display: flex; 
    gap: 20px; 
    font-size: 1.7vh; 
    flex-grow: 1; 
    justify-content: right;
  }
  .searchBarField{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 10vh; 
    background-color:rgb(0, 156, 156);
  }
  #search{
    display: flex;
    justify-content: center; 
    flex-grow: 1; 
    position: relative;
    width: 50vh; 
    
  }
  input[type = "text"]{
    display: flex;
    width: 35vh;
    padding: 1.2vh 2.5vh 1.2vh 1.5vh; 
    font-size: 1.6vh;
    border-radius: 25px; 
    border: 1px solid #ccc;
    outline: none;
  }
  #searchButton{
    display: flex;
    position: absolute;
    top: 50%;
    width: 2vh;
    height: 2vh;
    margin-left: 33vh;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  }

  .arrivals{
    display: flex;
    flex-direction: column;
    background-color:rgb(243, 243, 243);
    height: 50vh;
  }
  #newArrivals {
    margin-left: 10vw; 
    margin-top: 3vh;
  }
  .bookPanels{
    display: flex;
    flex-direction: row;
  }
  .panel{
    display: flex;
    flex-direction: column;
    margin-top: -4vh;
    margin-left: 10vw;
    }
  .upperPart{
    border-radius: 10px 10px 0px 0px;
    display: flex;
    width: 20vh;
    height: 30vh;
    background-color: wheat;
    margin-top: 5vh;
  }
  .lowerPart{
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 20vh;
    height: 7.5vh;
  }
  .bookInformation{
    outline: none; 
    text-decoration: none; 
    color: black;
  }
  #newArrivals {
    margin-left: 10vw; 
  }